body{
    font-family: 'Poppins';
    font-style: normal;
}
.sidebardiv1{
    background-color: #e2e1ea8f;
    font-weight: 400;
    font-size: 16px;
    color: #31314E;
}
.sidebardiv{
    background-color: #e2e1ea26;
    border-bottom:none ;

}
.sidebardiv1{
    width: 12%;
}
.barheight{
    height: 100vh;
}
.listheight{
    margin-top:70%;
    border-color:none ;
}
.sidebardiv:hover{
    background-color: #e2e1ea26;

}
.creatbutton{
    width: 249px;
    height: 44px;
    background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
    border-radius: 8px;
    color: white;
    font-weight: 500;
font-size: 18px;
}
.imagefluid{
    width: 285px;
height: 221.67px;
}
.textfluid{
    font-weight: 600;
font-size: 20px;
}
.barwidth{
    width: 100%;
}
.imagebar{
    margin-right: 10%;
}
.navtext{
    font-weight: 600;
font-size: 24px;
margin-right: 20%;
margin-left: 10%;
}
.navbar-nav{
    margin-right: 3%;
}
.texttext{
    
font-weight: 400;
font-size: 16px;
color: #54506E;
}
.divnofile{
    margin-top: 10%;
}
.dropdowninner{
    margin-right: 3%;
}
.paragraphfluid , .paragraphfluid  a{
    font-weight: 400;
    font-size: 16px;
    color: #0B062D;
    text-decoration: none;
}
.divfluidborder{
    border-bottom: 1px solid #E2E1EA;
}
.imageradio{
    margin-right: 2%;
    margin-left: 2%;
}
.radiodiv{
    width: 60%;
    border: 1px solid #E2E1EA;
    border-radius: 4px;
    margin: 1%;
    padding: 1%;
}
.selecte{
    font-weight: 400;
    font-size: 16px;
    color: #A19EAE;
}
.radiotitle{
    font-weight: 600;
    font-size: 16px;
    color: #0B062D;
    margin-bottom: 0;
}
.radiotext{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #54506E;
}
.formdiv{
    width: 60%;
}
.imageproject{
    
        background: url(../images/project.png) no-repeat scroll 7px 7px;
        padding-left:40px;
}
.imagevent{
    
    background: url(../images/calendar.png) no-repeat scroll 7px 7px;
    padding-left:40px;
}
.imagelocation{
    background: url(../images/locationimage.png) no-repeat scroll 7px 7px;
        padding-left:40px;
}
#Projectname::placeholder,#autocomplete::placeholder,#Latitude::placeholder,#Longitude::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #A19EAE;
}
.projectbutton{
    width: 268px;
    height: 44px;
    background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
    border-radius: 8px;
    border: none;
    color: white;
    
}
.spantitle {
    width: 32px;
    height: 32px;
    background: linear-gradient(115.94deg, rgba(219, 0, 255, 0.2) -8.4%, rgba(0, 240, 255, 0.2) 109.09%);
    border-radius: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    
}
.diveuplodefile{
    width: 80%;
    background: linear-gradient(115.94deg, rgba(219, 0, 255, 0.03) -8.4%, rgba(0, 240, 255, 0.03) 109.09%);
    border-radius: 4px;
    border:2px dashed #54506E;
    text-align:center;
}
    .Browse{
        color: #00F0FF;
    }
    .selectFile{
        visibility: hidden;
        width: 20px;
    }
.Latitude{
    width: 93%;
}
#file-input{
    width: 20px;
}
#formdiv1,#formdiv2{
    display: none;
}
.addnewspan{
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    margin-left: 2%;
}
#addobject,#addlocation{
    display: none;
}




 .saved{
    background: #F3F6F9;
border-radius: 4px;
 }
.imgmenu{
    background: white;
border-radius: 2px;
justify-content: space-evenly;
}
.totlesaved{
    font-weight: 500;
    font-size: 16px;
    color: #0B062D;
}
.textsaved{
    background: linear-gradient(115.94deg, rgba(219, 0, 255, 0.2) -8.4%, rgba(0, 240, 255, 0.2) 109.09%);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #54506E;
}
.redtext{
    color: #CF1B1B;
}
.bgroundmodal{
    background-image: url("../images/ball.png");
    background-repeat: no-repeat;
    background-position: left top;
    
}
.closeimage{
    border: none;
    background-color: white;
    
}
.inputrange{
    width: 81px;
    height: 44px;
    border: 1px solid #CECCD8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #0B062D;
    text-align: center;
}
.mainn {
    width: 100%;
    margin: 4% ;
    position: relative;
  }
  
  #slider {
    -webkit-appearance: none; 
    width: 100%;
    height: 16px;
    border-radius: 3px;
    background: #EBEBEC;
  }
  
  /* Design slider button */
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  
  #selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .selectBtn {
    height: 35px;
    width: 30px;
    /* background-image: url(https://fadzrinmadu.github.io/hosted-assets/range-slider-using-html-and-css/icon.png);
    background-size: cover;
    background-position: center; */
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5E9BD;
    box-shadow: 3px 0px 4.5px rgba(0, 0, 0, 0.06), -3px 0px 4.5px rgba(35, 69, 190, 0.12);
    border-radius: 4px;
    position: absolute;
    bottom: 15px;
    /* top: 10px; */
  }
  #selectValue {
    width: 48px;
    height: 40px;
    position: absolute;
    top: 0;
    background: #D9D9D9;
    border: 1px solid #A19EAE;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    right: 20%;
  }
  #selectValue::after {
    content: '';
    border-top: 17px solid #a19eae7f;
    border-left: 8px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -18px;
    left: 15px;
  }
  #progressBar {
    width: 50%;
    height: 16px;
    background: linear-gradient(115.94deg, rgba(219, 0, 255, 0.5) -8.4%, rgba(0, 240, 255, 0.5) 109.09%);
    border-radius: 3px;
    position: absolute;
    bottom:7px;
    left: 0;
  }
  #map {
    height: 350px;
    margin-bottom: 5%;
  }
  .imagename{
    background: url(../images/inputname.svg) no-repeat scroll 7px 7px;
    padding-left:40px;
}
.imagemail{
    background: url(../images/imagemail.svg) no-repeat scroll 7px 7px;
    padding-left:40px;
}
.profileimagediv{
    margin-left: 5%;
}
.profiletext{
    font-weight: 600;
    font-size: 24px;
    
}
.Forgotpassword{
    text-decoration: none;
    background:linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 10%;
}
#backprofile ,#passwordd{
    display: none ;
}

.imagpass{
    background: url(../images/imagepass.svg) no-repeat scroll  7px 7px ;
    padding-left:40px;
    }
    .saveddiv{
        flex-wrap: wrap !important; 
        
      }

      .qrtitle{
        font-size: 24px;
        font-weight: 600 !important;
      }
      /* .qrtext{
        
      } */
      .creatbuttonqr{
        width: 174px;
        height: 44px;
        background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
        border-radius: 8px;
        color: white;
        font-weight: 500;
        font-size: 18px;
      }
      .textbuttonqr2{
        background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 500;
        font-size: 18px;
    }
    .creatbuttonqr2{
        width: 174px;
        height: 44px;
        border-image:linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%) !important;
        border-radius: 8px;

            }
            .textqr2{
                background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 400;
                font-size: 16px;
                margin-left: 15%;
            }
@media screen and (max-width: 700px){
    .saveddiv{
      flex-direction: column !important;  

    }
    .textbuttonspan{
        font-size: 15px;
    }
    .innermenu
    {
    position: absolute !important;
    }

    /* .barwidth{
        width: 75%;
    } */
    .sidebardiv1{
        width: 10%;
    }
    .creatbutton{
        width: 180px;
    }
    .navtext{
        margin-right: 0;
    }
    .divfluid{
        padding: 0;
        flex-direction: row-reverse;
    }
    .radiodiv{
        flex-direction: column;
        width: 100%;
        padding: 10%;        
    }
    .formdiv{
        width: 100%;
    }
    .projectbutton{
        width: 170px;
    }
    .Latitude{
        flex-direction: column;
    }
    .listheight {
        margin-top: 100%;
        margin-right: 50% !important;
        display: flex;
        align-items: center;
    }
    .hiddentext{
       
        display: none;
    }
    .containerfluid,.divfluidborder{
        justify-content: center !important;
        flex-direction: column;
    }
    .dropdowninner {
        margin-left: 4%;
    }
    .mainn{
        width: 80%;
    }
    .rangedivrange{
        flex-direction: column;
    }
    .barheight{
        height: 100% !important;
    }
}
@media screen and (min-width: 600px)and (max-width:800px){
    .innermenu
    {
    position: absolute !important;
    }
    .dropdowninner{
        margin-right: 10%;
    }
    .rangedivrange{
        flex-direction: column;
    }
    .barheight{
        height: 100% !important;
    }
    /* .sidebardiv1{
        height: 100% !important;
    } */
}


  