
.coverbox{
    border: none;
}

.containermail{
    height: 100vh;
}

.emailimage{
    width: 134px;
    height: 145.95px;
}
.resetext{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #292D32;
}
.labelemail{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #0B062D;
}
.imagemail{
    background: url(../images/imagemail.svg) no-repeat scroll 7px 7px;
    padding-left:40px;
}
.imagemail::placeholder{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #A19EAE;
}

.resetbutton{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(115.94deg, #DB00FF -8.4%, #00F0FF 109.09%);
    margin-top: 5%;
}

.imagpass{
    background: url(../images/imagepass.svg) no-repeat scroll  7px 7px ;
    padding-left:40px;
    }

    .show-passwordreset1{
        position: absolute;
        right:11%;
        top: 57%;
        transform: translateY(-50%);   
}
.show-passwordreset2{
    position: absolute;
    right: 11%;
    top: 74%;
    transform: translateY(-50%);   
}